
backup_deploy/prod-kubernetes-manifest.yml
backup_deploy/dev-kubernetes-manifest.yml
backup_deploy/test-kubernetes-manifest.yml
backup_deploy/pprod-kubernetes-manifest.yml
dev/.DS_Store
aks/pipeline-secrets/dev-pipeline-variables.yml
aks/pipeline-secrets/pprod-pipeline-variables.yml
aks/pipeline-secrets/prod-pipeline-variables.yml
aks/pipeline-secrets/test-pipeline-variables.yml
aks/.DS_Store
.DS_Store
dev/.DS_Store
aks/utilityservices/dev-utilityservices-kubernetes-manifest.yml
aks/marketingpage/dev-kubernetes-manifest.yml
aks/marketingpage/dev-kubernetes-manifest.yml
aks/utilityservices/dev-utilityservices-kubernetes-manifest.yml
dev/terraform.tfvars
pipeline-secrets/dev-pipeline-variables.yml
pipeline-secrets/prod-pipeline-variables.yml
pipeline-secrets/pprod-pipeline-variables.yml
pipeline-secrets/test-pipeline-variables.yml
pprod/.terraform/plugins/darwin_amd64/lock.json
pprod/.terraform/plugins/darwin_amd64/terraform-provider-azurerm_v1.37.0_x4
*.tfstate
pprod/terraform.tfvars
prod/.terraform/plugins/darwin_amd64/lock.json
prod/.terraform/plugins/darwin_amd64/terraform-provider-azurerm_v1.37.0_x4
prod/terraform.tfvars
test/.DS_Store
test/.terraform/plugins/darwin_amd64/lock.json
test/.terraform/plugins/darwin_amd64/terraform-provider-azurerm_v1.37.0_x4
*.tfvars
utility-services/dev-utilityservices-kubernetes-manifest.yml
utility-services/guacamole/guacamole.sh
utility-services/nginx/nginx.conf.backup
utility-services/nginx/nginx.conf.old
sortoutlater
test/.DS_Store
mp_backup_deploy/dev-kubernetes-manifest.yml
mp_backup_deploy/pprod-kubernetes-manifest.yml
mp_backup_deploy/prod-kubernetes-manifest.yml
mp_backup_deploy/test-kubernetes-manifest.yml
pb_backup_deploy/pprod-kubernetes-manifest.yml
pb_backup_deploy/dev-kubernetes-manifest.yml
pb_backup_deploy/prod-kubernetes-manifest.yml
pb_backup_deploy/test-kubernetes-manifest.yml
utility-services/nginx.conf.backup

#Local overrides git ignored, so people can change them without risk of committing
local-helm/local-overrides.yaml